:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffff;
  background-color: #1b361c; /* Zielony, ciemny kolor */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-green: #4caf50; /* Główny zielony kolor */
  --hover-green: #388e3c; /* Ciemniejszy zielony do hover */
  --background-light: #e8f5e9; /* Jasne tło dla light mode */
}

a {
  font-weight: 500;
  color: var(--main-green);
  text-decoration: inherit;
}
a:hover {
  color: var(--hover-green);
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background-light);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--main-green);
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid var(--main-green);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--main-green);
  color: #ffffff;
  cursor: pointer;
  transition:
    background-color 0.25s,
    border-color 0.25s;
}
button:hover {
  background-color: var(--hover-green);
  border-color: var(--hover-green);
}
button:focus,
button:focus-visible {
  outline: 4px auto var(--main-green);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #1b361c;
    background-color: var(--background-light);
  }
  a:hover {
    color: var(--hover-green);
  }
  button {
    background-color: var(--main-green);
    border-color: var(--main-green);
  }
}
